/* 공통 스타일 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a{text-decoration: none;}
textarea{resize: none;}

body{
    font-family: 'omyu_pretty';
}

#main{text-align: center; margin: 100px; auto;}