{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <section id="comment_form">
        <h5 class="my-3 border-bottom pb-2">댓글 등록</h5>
        <form action="" method="post">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <div class="form-group">
                <label for="content">댓글 내용</label>
                <textarea name="content" id="content" rows="10"
                      class="form-control mb-3">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </section>
</div>
{% endblock %}