{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<div class="container my-3">
  <section id="question_list">
      <div class="row">
          <div class="col-2 p-2">
            <!-- Sidebar  -->
            <!--<nav id="sidebar" class="border-top border-secondary">
                <div class="list-group">
                    {% for category in category_list %}
                        {% if category == current_category %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active"
                               href="{{ category.get_absolute_url }}">{{ category.description }}</a>
                        {% else %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light"
                               href="{{ category.get_absolute_url }}">{{ category.description }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>-->
          </div>

      <div class="col-10 p-2">
          <!-- Content -->
          <div id="content" class="border-top border-secondary">
             <div class="content_block">
             <!--<h5 class="border-bottom pl-2 pb-3 my-2">{{ current_category.description }}</h5>-->
          <!-- 검색 입력상자 -->
           <div class="row mb-2">
              <div class="col-8"></div>
              <div class="col-4 d-flex justify-content-end ">
                  <input type="text" class="kw form-control" value="{{ kw|default_if_none:'' }}">
                  <div class="col-2 input-group-append">
                      <button type="button" id="btn_search"
                              class="btn btn-outline-secondary">찾기</button>
                  </div>
              </div>
          </div>
          <!-- 게시판 목록 -->
          <table class="table">
              <thead>
                <tr class="table-dark">
                    <th>번호</th><th>제목</th><th>작성일시</th><th>글쓴이</th>
                </tr>
              </thead>
              <tbody>
              {% if question_list %}
                {% for question in question_list %}
                    <tr>
                       <!-- <td>{{ forloop.counter|add:1 }}</td>-->
                        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                        <td>
                            <a href="{% url 'board:detail' question.id %}">
                                {{ question.subject }}
                            </a>
                            {% if question.answer_set.count > 0 %}
                            <span class="text-danger">[{{ question.answer_set.count }}]</span>
                            {% endif %}
                        </td>
                        <td>{{ question.create_date }}</td>
                        <td>{{ question.author }}</td>
                    </tr>
                {% endfor %}
              {% else %}
                <p>질문이 없습니다.</p>
              {% endif %}
              </tbody>
          </table>
      <!-- 페이지 영역  시작-->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <!--<a class="page-link"
                   href="?page={{ question_list.previous_page_number }}">이전</a>-->
                <a class="page-link" href="#"
                   data-page="{{ question_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" >이전</a>
            </li>
            {% endif %}
            <!-- 현재 페이지 -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number == question_list.number %}
                <li class="page-item active">
                    <!--<a class="page-link" href="?page={{ page_number }}">-->
                    <a class="page-link" href="#" data-page="{{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <!--<a class="page-link" href="?page={{ page_number }}">-->
                    <a class="page-link" href="#" data-page="{{ page_number }}">
                        {{ page_number }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <!--<a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>-->
            <a class="page-link" href="#"
               data-page="{{ question_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
        </ul>
      <!-- 페이지 영역 끝 -->
      <a href="{% url 'board:question_create' %}" class="btn btn-primary">질문 등록</a>

      <!-- 검색 폼 만들기 -->
      <form action="" method="get" id="searchForm">
          <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
          <input type="hidden" id="page" name="page" value="{{ page }}">
      </form>
     </div>
      </div>
      </div>
      </div>
  </section>
</div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        //페이지 처리
        $('.page-link').click(function(){         //페이지 번호를 클릭하면
            $('#page').val($(this).data('page')); //페이지 번호값을 할당한후 hidden 타입으로
            $('#searchForm').submit();            //폼을 전송함
        });

        //검색 처리
        $('#btn_search').click(function(){ //"찾기" 버튼을 클릭하면
            $('#kw').val($('.kw').val())   //입력된 키워드를 hidden 타입으로
            $('#page').val(1)              //1페이지 부터 검색함
            $('#searchForm').submit()      //폼을 전송함
        })
    });
</script>
{% endblock %}
<!--<p class="text-center">1 2 3</p>-->
<!--<ul class="text-center">
  {% for question in question_list %}
    <li style="list-style: none; display:inline; margin: 5px;">
        {{ forloop.counter }}
    </li>
  {% endfor %}
</ul>-->