<aside class="side-bar" style="z-index: 999;">
  <ul>
    <li>
      <a href="{% url 'shop:product_all' %}">All</a>
    </li>
    <li>
      <a href="">IT/가전</a>
      <ul>
        <li><a href="{% url 'shop:product_in_category' 'it' %}">컴퓨터</a></li>
        <li><a href="{% url 'shop:product_in_category' 'aircon' %}">에어컨</a></li>
        <li><a href="{% url 'shop:product_in_category' 'freezer' %}">냉장고</a></li>
      </ul>
    </li>
    <li>
      <a href="#">주방/생활용품</a>
      <ul>
        <li><a href="">주방용품</a></li>
        <li><a href="">생활용품</a></li>
        <li><a href="">생활가전</a></li>
      </ul>
    </li>
    <li><a href="">공지사항</a></li>
    <li><a href="">게시판</a></li>
  </ul>
</aside>